<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css"
          type="text/css" />
    {% block extrahead %}{% endblock %}
</head>
<body>
<div id="wrapper">
    <div id="nav">
        <a href="/">home</a> |
        <a href="/about">about</a> |
        {% if user.is_authenticated %}
            welcome {{ user.username }}
            (<a href="/logout">logout</a>) |
            <a href="/user/{{ user.username }}">my info page</a> |
            <a href="/koinbox">my koinbox</a> |
            <a href="/friends">my friends</a>
        {% else %}
            <a href="/login/">login</a> |
            <a href="/register">register</a>
        {% endif %}

    </div>

    <h1>{% block head %}{% endblock %}</h1>

    {% block content %}{% endblock %}

    <div id="footer">
        <p>KOINBOX (C) 2012 GosuNinjas. All rights reserved.</p>
    </div>

</div>
</body>
</html>